html, * {
  
  background-color: #F7F6E7;
  background: transparent;
}

.Header {
  width: 100vw;
  top: 0;
  height: auto;
  background-color: #2E4C6D;
  padding: 1vh;
  position: fixed;
  right: 0;
  left: 0;
}

.Footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  width: 100vw;
  padding: 2vh;
  background-color: #2E4C6D;
  text-align: center;
  color: #F4EEC7;
  font-weight: bolder;
}

.title {
  background: transparent;
  color: #F4EEC7;
  font-size: xx-large;
  padding-left: 2vw;
}

.indexMainBody {
  display: flexbox;
  position: relative;
}
